@import url(./style.css);

body{
	padding-top: 6rem;
}
.header{
	top: 0;
	height: 6rem;
}
@media(max-width: 800px){
	.nav-menu{
		top: 6rem;
	}
}

/* =====ABOUT.HTML===== */
.about-section .info{
	display: flex;
	justify-content: center;
	gap: 2.5rem;
}
.as1{
	margin-bottom: 5rem;
}
.as2{
	flex-direction: row-reverse;
}
.about-section .div img{
	height: 40rem;
	width: 50rem;
	border-radius: 2.5px;
	vertical-align: middle;
}
.about-section .div p{
	margin-top: 2.5rem;
}

.about-section .div{
	width: 50%;
}


/* =====ABOUT.HTML MEDIA===== */
@media (max-width: 700px) {
	.about-section .info{
		flex-direction: column;
		align-items: center;
	}
	.as2{
		flex-direction: column-reverse;
	}
	.about-section .div{
		width: 70%;
	}
	.about-section .div p{
		font-size: 1.4rem;
	}
	.about-section .div img{
		width: 100%;
	}
}
@media (max-width: 500px) {
	.about-section{
		padding: 5rem 1.5rem;
	}
	.about-section .div{
		width: 100%;
	}
	.about-section .div p{
		font-size: 1.3rem;
	}
}